<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><span>El Sharqia</span> Health Care</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About Covid-19</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/diagnose">Diagnose Service</a></li>
            <li><a class="dropdown-item" href="/map">Map Location</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Vaccine</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Symptoms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prevention</a>
        </li>
        <% if (logout == true) { %>
          <li class="nav-item"><a href="/user/logout" class="nav-link">Logout</a></li>
          <li><a href="/user/profile"  class="nav-link"><img src="/images/profile/profile.png" width="25" height="25"></a></li>

      <% } else { %>
          <li class="nav-item"><a href="/user/login" class="nav-link">Sign In</a></li>
          <li class="nav-item"><a href="/user/signup" class="nav-link">Sign Up</a></li>
      <%}%>


      </ul>
    </div>
  </div>
</nav>